*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}/* *::selection{background-color: rgba(34, 139, 34, 0.2);color: seagreen;} */
body{
    width: 100%;
    height: 90vh;
    background-image: url("image-back.png");
    background-color: rgba(30, 143, 255, 0.25);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* *::selection{background-color: gold;color: black;} */
*::selection{background-color: rgb(0, 0, 182);color: white;}
.container{
    width: 80%;
    margin: 40px auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    transform: scale(1.2);
}
#weatherIcon{
    width: 250px;
    background-size: cover;
    margin: 15px 0;
}
#cityInput{
    outline-color: dodgerblue;
    padding: 5px 10px;
    border-radius: 5px;
}
#searchBtn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: white;
    transition: 0.2s linear;
}
#searchBtn:hover{
    box-shadow: 0 0 15px dodgerblue;
}
#searchBtn:active{
    box-shadow: 0 0 25px dodgerblue;
    transition: 0.1s ease-in-out;
}